html {
  font-size: 12px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

@media (max-width:575px){
  .table-responsive-sm .table thead tr{
      font-size:8px;
  }

    .table-responsive-sm .table tbody tr {
        font-size: 6px;
    }

    .table-responsive-sm .table tbody .btn {
        font-size: 6px;
    }

    .table-responsive-sm .table tbody .img-product img {
        background-color:green;
        max-width:30px;
        max-height:40px;
    }

    .row .btn-product,
    .row .btn-Register {
        margin-bottom:10px;
    }

    .active {
        background-color: #D2DBDB;
        border-radius: 10px;
    }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  padding-top : 75px;
}

.navbar-nav .active {
    background-color: #D2DBDB;
    border-radius: 10px;
    font-weight:bold;
}

.nav-item{
    margin-left:16px;
}

.nav-item a{
    text-decoration: none;
    color: #303333;
    font-weight:700;
}


