.title-panel {
    background-color: #146363;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    width: 200px;
    height: 50px;
    border-radius: 14px;
    color: white;
    font-family: Brush Script MT;
    font-size: 32px;
}

@media screen and (max-width:575px){
    .title-panel {
        font-size:18px;
        width: 140px;
        height: 30px;
    }

    .account-position{
        margin-bottom:14px;
        margin-top:10px;
    }
}

.style-product :hover {
    zoom:95%;
}

.account-position {
    margin-left: 14px;
}

.account-log {
    text-decoration: none;
    color: #08618d;
    font-weight: 600;
    border: 1px solid #08618d;
    border-radius:5px;
    padding:5px;
}

.account-log:hover{
    background-color: #08618d;
    color:ghostwhite;
    border:2px solid white;
}
