@model ProductDto
@{
}


<div class="row" style="margin-top:20px;">
    <div class="col-md-6 mx-auto rounded border p-3">
        <h2 class="text-center mb-5">Edit Product</h2>

        <form method="post" enctype="multipart/form-data">
@*             <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Id</label>
                <div class="col-sm-8">
                    <input class="form-control" value="@ViewData["ProductId"]"> 
                </div>
            </div>      *@       
            <div class="row mb-3">
                <label class="col-sm-2 col-form-label" style="font-weight:600;">Name</label>
                <div class="col-sm-10">
                    <input class="form-control" asp-for="Name">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-2 col-form-label" style="font-weight:600;">Brand</label>
                <div class="col-sm-10">
                    <input class="form-control" asp-for="Brand">
                    <span asp-validation-for="Brand" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-2 col-form-label" style="font-weight:600;">Category</label>
                <div class="col-sm-10">
                    <select class="form-select" asp-for="Category">
                        <option value="Other">Other</option>
                        <option value="Phones">Phones</option>
                        <option value="Computers">Computers</option>
                        <option value="Accessories">Accessories</option>
                        <option value="Printers">Printers</option>
                        <option value="Cameras">Cameras</option>
                    </select>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-2 col-form-label" style="font-weight:600;">Price</label>
                <div class="col-sm-10">
                    <input class="form-control" asp-for="Price">
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-2 col-form-label" style="font-weight:600;">Description</label>
                <div class="col-sm-10">
                    <textarea class="form-control" asp-for="Description"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <div class="offset-sm-2 col-sm-10">
                    <img src="/products/@ViewData["ImageFileName"]" width="150">
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-2 col-form-label" style="font-weight:600;">Image</label>
                <div class="col-sm-10">
                    <input class="form-control" asp-for="ImageFile">
                    <span asp-validation-for="ImageFile" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-2 col-form-label" style="font-weight:600;">Created At</label>
                <div class="col-sm-10">
                    <input class="form-control-plaintext" readonly value="@ViewData["CreatedAt"]">
                </div>
            </div>

            <div class="row">
                <div class="offset-sm-2 col-sm-5 d-grid btn-product">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
                <div class="col-sm-5 d-grid">
                    <a class="btn btn-outline-primary" asp-controller="Products" asp-action="Index" role="button">
                        Cancel
                    </a>
                </div>
            </div>

        </form>
    </div>
</div>